<section class="preview-block">
  <app-container>
    <div class="preview-block-wrapper">
      <header class="preview-block-header">
        <div class="logo">
          <div class="circle blue"></div>
          <div class="circle white"></div>
          <h5>testLab</h5>
        </div>
        <button class="burger-menu" aria-label="Open menu" (click)="openMenu()">
          &#8801;
        </button>
        <button class="close-menu" aria-label="Close menu" (click)="closeMenu()">
          &times;
        </button>
        <nav class="nav">
          <a href="#operating-principle">Как это работает</a>
          <a href="#third-block">3-й блок</a>
          <a href="#faq-section">Вопросы и ответы</a>
          <a href="#contact-form">Форма</a>
        </nav>
      </header>
      <div class="preview-block-content">
        <h1>Говорят, никогда не поздно сменить профессию</h1>
        <p>Сделай крутое тестовое задание и у тебя получится</p>
        <button>Проще простого!</button>
      </div>
    </div>
  </app-container>
</section>
