<section class="description-block">
  <app-container>
    <div class="description-block-grid">
      <div class="description-item">
        <h3>Опросенных пользовались микрокредитами</h3>
        <p>Не могли покрыть внезапные траты свыше 7000 р. Доступ к заработанным деньгам помогает отказаться от кредитов и экономить деньги на процентах и штрафах. Не могли покрыть внезапные траты свыше 7000 р. Доступ к заработанным деньгам помогает отказаться от кредитов и экономить деньги на процентах и штрафах.</p>
      </div>
      <div class="description-item">
        <h3>Опросенных пользовались микрокредитами</h3>
        <p>Не могли покрыть внезапные траты свыше 7000 ₽. Доступ к заработанным деньгам помогает отказаться от кредитов и экономить деньги на процентах и штрафах Не могли покрыть внезапные траты свыше 7000 ₽. Доступ к заработанным деньгам помогает отказаться от кредитов и экономить деньги на процентах и штрафахНе могли покрыть внезапные траты свыше 7000 ₽. Доступ к заработанным деньгам помогает отказаться от кредитов и экономить деньги на процентах и штрафах</p>
      </div>
      <div class="description-item">
        <h3>Опросенных пользовались микрокредитами</h3>
        <p>Не могли покрыть внезапные траты свыше 7000 ₽. Доступ к заработанным деньгам помогает отказаться от кредитов и экономить деньги на процентах и штрафах Не могли покрыть внезапные траты свыше 7000 ₽. Доступ к заработанным деньгам помогает отказаться от кредитов и экономить деньги на процентах и штрафахНе могли покрыть внезапные траты свыше 7000 ₽. Доступ к заработанным деньгам помогает отказаться от кредитов и экономить деньги на процентах и штрафах</p>
      </div>
      <div class="description-item">
        <h3>Опросенных пользовались микрокредитами</h3>
        <p>Не могли покрыть внезапные траты свыше 7000 р. Доступ к заработанным деньгам помогает отказаться от кредитов и экономить деньги на процентах и штрафах. Не могли покрыть внезапные траты свыше 7000 р. Доступ к заработанным деньгам помогает отказаться от кредитов и экономить деньги на процентах и штрафах.</p>
      </div>
    </div>
  </app-container>
</section>
