#contact-form {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

:host ::ng-deep .container {
  flex-direction: column;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 32px;
}

h2 {
  font-size: 40px;
  line-height: 56px;
  margin-bottom: 44px;
}

.input-group {
  position: relative;
  width: 349px;
}

.input-group label {
  position: absolute;
  left: 18px;
  top: 16px;
  font-size: 18px;
  line-height: 32px;
  color: #888;
  pointer-events: none;
  transition: 0.3s ease all;
}

.input-group.filled label {
  top: 4px;
  font-size: 14px;
  line-height: 24px;
  color: #83898F;
}

.input-group.valid::after, .input-group.invalid::after {
  color: #fff;
  position: absolute;
  text-align: center;
  right: 10px;
  top: 34px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  transform: translateY(-50%);
}

.input-group.valid::after {
  content: "\2714";
  background: #25CD82;
}

.input-group.invalid::after {
  content: "\2716";
  background: #F13636;
}

input[type="text"] {
  font-size: 18px;
  line-height: 32px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 100%;
  height: 64px;
  padding: 16px;
  border: 2px solid #F6F8FA;
  background: #F6F8FA;
  color: #5E646A;
}

input[type="text"]:focus {
  border-color: #C2C8CD !important;
  outline: none;
}

.input-group.filled input{
  border-color: #C2C8CD;
}

.input-group.valid input{
  border-color: #ECEFF2;
}

.input-group.invalid input{
  border-color: #F13636;
}

.input-group.filled input {
  padding: 28px 16px 4px;
}

.input-error {
  color: #F13636;
  font-size: 12px;
  margin-top: 5px;
  line-height: 16px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.checkbox-group {
  display: flex;
  align-items: flex-start;
  font-size: 16px;
  line-height: 28px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.checkbox-group label {
  font-size: 16px;
  line-height: 28px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

input[type="checkbox"] {
  appearance: none;
  margin-right: 16px;
  width: 24px;
  height: 24px;
  border: 2px solid #C2C8CD;
  border-radius: 4px;
}

input[type="checkbox"]:checked {
  background-color: #2A6CEA;
  border-color: #2A6CEA;
  color: white;
}

input[type="checkbox"]:checked::before {
  content: "\2714";
  font-size: 24px;
  position: relative;
  bottom: 7px;
}

button {
  background-color: #2A6CEA;
  color: #fff;
  padding: 20px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

button:hover {
  background-color: #397DFF;
}

@media (max-width: 768px) {
  #contact-form {
    margin-bottom: 56px;
  }

  .input-group {
    width: calc((100vw - 40px - 24px)/2);
  }

  form {
    column-gap: 24px;
  }
}

@media (max-width: 376px) {
  form {
    grid-template-columns: 1fr;
  }

  h2 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 30px;
  }

  .input-group {
    width: calc((100vw - 40px));
  }
}