<section id="third-block">
  <app-container>
    <div class="third-block-content">
      <h3>Круто, ты дошел до третьего блока</h3>
      <p>63% опрошенных пользователей пользовались кредитами из-за того, что не могли покрыть непредвиденные расходы свыше 15 000 р.</p>
      <p>Доступ к заработанным деньгам помогает отказаться от кредитов и экономить деньги на процентах и штрафах.</p>
    </div>
    <div class="third-block-images">
      <img src="left.png" alt="Phone displaying analytics" class="images-phone">
      <img src="right.jpg" alt="Character standing next to a truck" class="images-character">
    </div>
  </app-container>
</section>
